/* NAV BAR */
.barra{
    background-color: #213872;  
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li{
    border: #bdca08;
}

/* COLOR DEL CLICK DEL MENU HAMBUR. */
.btn-inico{
    color: #fc1c58;
}

/* COLOR DE TEXTOS */

.text-mio {
    color: #fc1c58;
    font-weight: bold;
}

.activee {
    color: rgb(255, 255, 255);
}

/* FOOTER */
footer{
    background-color: #213872;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

footer ul{
    list-style: none;
}

footer img{
    width: 25px;
    height: 25px;
    margin: 5px;

}

footer ul li a{
    text-decoration: none;
    color: #ffffff;
}

/* COLOR DEL BODY */

body{
    background-color: #010101;
    color: #e9bdbd;
}

/* TITULOS DE LAS PAGINAS */

body h1{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 15px;
}

body h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
}

/* CARTAS INDEX */

.cartasindex{
    margin: 20px;
    justify-content: space-evenly;
}

.bg-mio{
    background-color:#72757e;
    color: #fffffe;
    border:3px solid #FACD34;
} 

/* IMAGEN DE GALERIA */

.img-galeria{
    width: 18rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.foto-galeriarap{
    width: 260px;
    height: 350px;
}

.foto-galeriaskate{
    width: 260px;
    height: 250px;
}

/* BOTON DE LOS EVENTOS INDEX */

.botonevento { 
    border: 1px solid #ffffff; /*anchura, estilo y color borde*/
    margin-top: 15px; /*margen del boton*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #CC1C4A; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: underline; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/  
} 

.botonesinicio{
    display: flex;
    justify-content: center;
}

/* PAGINA DE INICIO */

#inicio-pagina section div{
    margin-top: 50px;
}

/* IMAGEN DEL CARRUSEL */
.img-mia{
    height: 650px;
    display: flex;
    justify-content: center;
}

/* IMAGEN DE LUGARES */

section div img{
    width: 350px;
}

/* CONTACTOS*/

.contactos{
    border: #ffffff;
    color: #bdca08;
}

/* TABLA DE CONTACTOS */
#contactos-pagina table{
    display: flex;
    justify-content: center;    
}

td , th  {
    padding : 3px;
    border-style : solid;
    border-width : 2px;
    border-color : #999999;
  }

#contactos-pagina section{         
    display: flex;
    justify-content: space-around;
}

/* IMAGEN DE EVENTO */

.img-even{
    width: 200px;
    height: 200px;
}

/* CONTACTOS  */

@media (max-width: 1000px){
    #contactos-pagina section {
            display: flex;
            flex-direction: column-reverse;
        }
    }

/* IMAGEN DEL CARRUSEL */

    @media (max-width: 1000px){
        .img-mia{
            height: 250px;    
        }
        }

    @media (max-width: 927px){
        footer{
            display: flex;
             justify-content: center;
            }
        }