

.contactos {
	border: #ffffff;
	color: nth($colores, 4);
}
#contactos-pagina {
	table {
		@extend %flex-center;
	}
	section {
		@extend %flex-around;
	}
}
td {
	padding: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: $border-color1;
}
th {
	padding: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: $border-color1;
}

.iframe-cont{
	width: 400px;
	height: 200px;
}

.imframe-div{
	margin: 20px;
}