
.img-galeria {
	width: 18rem;
	font-family: $font-family_5;
}
.foto-galeriarap {
	width: 260px;
	height: 350px;
}
.foto-galeriaskate {
	width: 260px;
	height: 250px;
}

.iframe-gal{
	width: 250px;
	height: 315px;
}

.card-gal{
	margin: 15px;
}